Source: githubissueinfo
Maintainer: Taylor Raack <taylor@raack.info>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/dinoboy197/githubissueinfo

Package: githubissueinfo
Architecture: all
Depends: ${misc:Depends}
Description: Attaches system info to GitHub issues
 GitHub issue info collects system infomation (architecture, OS version, installed packages, etc) and attaches them to an issue previously filed in GitHub.
